openapi: 3.1.0
info:
  title: MeteoSource Data Air Quality API
  description: MeteoSource provides an Air Quality API delivering hour-by-hour pollution data for any location on Earth, with forecasts up to 5 days ahead. The API also offers weather forecast data, location lookup, weather maps, and historical Time Machine data.
  version: '1.0'
  contact:
    name: MeteoSource
    url: https://www.meteosource.com/
  license:
    name: Proprietary
    url: https://www.meteosource.com/terms-of-service
servers:
- url: https://www.meteosource.com/api/v1
  description: Production
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Air Quality
  description: Air quality and pollution forecasts.
paths:
  /flexi/air_quality:
    get:
      summary: Get point air quality forecast
      description: Returns hour-by-hour air quality and pollution forecasts for a point location.
      operationId: getAirQuality
      tags:
      - Air Quality
      parameters:
      - $ref: '#/components/parameters/PlaceId'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/Lon'
      - $ref: '#/components/parameters/Timezone'
      responses:
        '200':
          description: Air quality forecast response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirQualityResponse'
components:
  parameters:
    Lon:
      name: lon
      in: query
      description: Longitude in decimal degrees.
      schema:
        type: number
    PlaceId:
      name: place_id
      in: query
      description: MeteoSource place identifier.
      schema:
        type: string
    Lat:
      name: lat
      in: query
      description: Latitude in decimal degrees.
      schema:
        type: number
    Timezone:
      name: timezone
      in: query
      description: tzinfo timezone identifier.
      schema:
        type: string
  schemas:
    AirQualityResponse:
      type: object
      properties:
        lat:
          type: string
        lon:
          type: string
        elevation:
          type: number
        timezone:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
              aerosol_550:
                type: number
              air_quality:
                type: integer
              co_surface:
                type: number
              pm10:
                type: number
              pm25:
                type: number
              no2_surface:
                type: number
              ozone_surface:
                type: number
              dust:
                type: number
              so2_surface:
                type: number
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: key
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
